





header{
    border-bottom: 1px solid black;
    text-align: center;
  }
  
  main{
    width: 800px;
    position: relative;
   
  }


  main{
    margin: auto;

  }

  
  aside{
    float: right;
    width: 180px;
    border: 1px solid black;
    position: fixed; 
    right: 10%;
    bottom: 10%;
    text-align: center;
  }
  
  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0%;
    height: 3%;
    position: fixed;
    padding: 1%;
    margin: 1%;
 
    
  }

  
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
    
    
  }

  button:active{
    background-color: white;
    color: black;
  }

